/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');



:root {
    --bg-white: #FDFDFD;
    --bg-lime: #C8FF00;
    --bg-night: #0A090C;
    --bg-plum: #D18FDF;
    --bg-orange: #FCAB10;
    --bg-black: #090C08;
    --bg-black-2: #030301;   
    --text-white:#FAFFF4; 
    --text-black: #090C08;
    --border-white: #FAFFF4;
     
    --bg-light-gray: hsla(240, 1%, 83%, 1);
    --bg-jet: hsla(0, 0%, 18%, 1);
    --bg-eerie-black: hsla(0, 0%, 13%, 1);
    --bg-rich-black-fogra-29: hsla(229, 23%, 9%, 1);
    --bg-smoky-black: hsla(0, 0%, 6%, 1);
    --gradient-1: linear-gradient(to top, var(--bg-black) 0%, transparent 40%);
    --gradient-2: radial-gradient(circle at 75% 100%, hsla(79, 100%, 70%, 0.3) 0%, transparent 100%);
    --text-light-gray: hsla(240, 1%, 83%, 1);
    --text-rich-black-fogra-29: hsla(216, 42%, 12%, 1);
    --text-smoky-black: hsla(0, 0%, 6%, 1);
    --border-light-gray: hsla(240, 1%, 83%, 1);
    --border-gainsboro: hsla(220, 13%, 91%, 1);
    --border-eerie-black: hsla(0, 0%, 13%, 1);
    --border-smoky-black: hsla(0, 0%, 6%, 1);
    --fontSize-1: 4.6rem;
    --fontSize-2: 4.5rem;
    --fontSize-3: 4rem;
    --fontSize-4: 2.5rem;
    --fontSize-5: 2.4rem;
    --fontSize-6: 2rem;
    --fontSize-7: 2rem;
    --fontSize-8: 1.6rem;
    --fontSize-9: 1.5rem;
    --fontSize-10: 1.4rem;
    --weight-regular: 400;
    --weight-medium: 500; 
    --section-spacing: 70px;
    --radius-pill: 500px;
    --radius-circle: 50%;
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --transition-3: 1000ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
  
  }
  
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
li { 
  list-style: none; 
}
  
a, img, input, button, textarea, ion-icon { 
  display: block; 
} 

span {
  display: flex;
  align-items: center;  
} 

  ion-icon {
    pointer-events: none;
    margin-left: 5px; 
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  img { 
    max-width: 100%;
    height: auto;  
  } 

  .logo_PA {
    width: 40%;
    height: 40%;
    border: 2px solid var(--bg-white);
    border-radius: 10px;
  } 
  
  input, button, textarea {
    background: none;
    border: none;
    font: inherit;
  }
  
  input, textarea { 
    width: 100%; 
  }
  
  button { 
    cursor: pointer;  
  }
 
  html {
    font-size: 10px;
    scroll-behavior: smooth;
    font-family: 'Work sans', sans-serif;
  }
  
  body {
    background: rgb(26,15,34);
    background: linear-gradient(90deg, rgba(26,15,34,1) 0%, rgba(32,15,45,1) 30%, rgba(88,18,146,1) 100%);
    color: var(--bg-white);
    font-family:" Work sans", sans-serif !important;
    font-size: var(--fontSize-8);  
    overflow: hidden;
  }
  
  body.loaded { 
    overflow-y: auto; 
  }
  
  body.nav-active { 
    overflow: hidden; 
  }
  
  ::-webkit-scrollbar { 
    width: 5px; 
  }
  
  ::-webkit-scrollbar-track { 
    border-inline-start: 1px solid var(--border-eerie-black); 
  }
  
  ::-webkit-scrollbar-thumb { 
    background-color: var(--bg-white); 
  }
  
  .container { 
    padding-inline: 14px; 
  }  
  
  .btn\:hover {
    position: relative;
    z-index: 1;
  }
  
  .btn\:hover::before,
  .btn\:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: var(--transition-1);
    will-change: transform;
    pointer-events: none;
  }
  
  .btn\:hover::after {
    border: 1px solid var(--bg-white);
    transform: scale(1.2);
    opacity: 0;
  }
  
  .btn\:hover:is(:hover, :focus-visible)::before {
    transform: scale(0.5);
    opacity: 0;
  }
  
  .btn\:hover:is(:hover, :focus-visible)::after {
    transform: scale(1);
    opacity: 1;
  }
  
  .text-center { 
    text-align: center; 
  }
  
.has-before,
.has-after {
  position: relative;
  z-index: 1;
}
  
.has-before::before,
.has-after::after {
  content: "";
  position: absolute;
}
  
.img-holder {
  overflow: hidden;
}
  
  /* .img-cover {
    width: 90%;  
    height: 90%;
    object-fit: contain; 
  } */
  
  [data-tilt] { 
    transition: var(--transition-3); 
  }

  .title1 {
    color: var(--bg-plum);
    font-family: 'Work sans', sans-serif !important;
    font-weight: bold !important;
    font-size: 6rem ;
    margin-top: 1rem;
    text-shadow: 2px 2px 4px #000;
  }
  
.title {
    font-family: 'Work sans', sans-serif !important;
    font-weight: 600;
    font-size: var(--fontSize-2); 
    /* text-shadow: 0px 1px 2px #FFF;  */
    /* background-color:  rgb(255,174,3);
    background-image:  linear-gradient(90deg, rgba(255,174,3,1) 0%, rgba(239,148,117,1) 50%, rgba(176,26,187,1) 100%); */
    background-color: rgb(255,175,0);
    background-image: linear-gradient(90deg, rgba(255,209,0,1) 0%, rgba(219,24,211,1) 70%, rgba(196,38,195,1) 100%);
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;
  }
  
  .h1 {
    font-family: 'Work sans', sans-serif;
    font-size: var(--fontSize-2);
    line-height: 1.2;
  }
  
  .h2, .h3, .h4, .h5 { 
    font-family: 'Work sans', sans-serif;
    line-height: 1.3; 
    text-align: center;
  }
  
  .h2 { font-size: 32px; }
  
  .h3 { font-size: var(--fontSize-4); }
  
  .h4 { 
    font-size: 3rem; 
  }
  
  .h5 { font-size: var(--fontSize-7); }
  
  .h6 { 
    /* color: #090C08; */
    font-size: var(--fontSize-6); }

  
  .btn {
    color: var(--bg-white);
    font-size: var(--fontSize-9);
    font-weight: var(--weight-medium);
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    gap: 10px; 
    max-width: max-content; 
    height: 56px;
    padding-inline: 30px;
    
  }
  
  .btn::before { 
    background-color: var(--bg-smoky-black); 
  }

  
  .btn ion-icon {
    font-size: 2rem;
    --ionicon-stroke-width: 70px;
  }
  
  .section {
    padding-block: 75px;
    overflow-x: hidden;
  }

  /*--------------- PRELOADER ------------------*/
  
  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    box-shadow: inset 55vw 0 0 0 var(--bg-white),
                inset -55vw 0 0 0 var(--bg-white);
    display: grid;
    place-items: center;
    z-index: 10;
  }
  
  .preloader.loaded {
    transition: 300ms ease 500ms;
    pointer-events: none;
    box-shadow: inset 0 0 0 0 #FCFFEB,
                inset 0 0 0 0 #FCFFEB;
  }
  
  .preloader .line {
    width: 1px;
    height: 100%;
    background-color: #06070E !important;
    transition: var(--transition-2);
    animation: loading 1000ms linear forwards;
  }
  
  @keyframes loading {
    0% { transform: scaleY(0); }
    100% { transform: scaleY(0.3); }
  }
  
  .preloader.loaded .line { 
    animation: loaded 500ms ease forwards; 
  }
  
  @keyframes loaded {
    0% { transform: scaleY(0.3); }
  
    100% {
      transform: scaleY(1);
      opacity: 0;
    }
  }
  
  /*-------------------- HEADER --------------------*/
  
  .header .btn { 
    display: none; 
  }
  
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 15px;
    z-index: 4;
  }
  
  .header.active {
    position: fixed;
    background-color: var(--bg-plum); 
    padding-block: 10px;
    animation: slideIn 500ms ease-out forwards;
  }
  
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-open-btn {
    width: 50px;
    height: 50px;
    display: grid;
    place-content: center;
    gap: 6px;
    background-color: var(--bg-plum);
  }
  
  .nav-open-btn .line {
    width: 24px;
    height: 2px;
    background-color: var(--bg-plum);
    transition: var(--transition-1);
  }
  
  .nav-open-btn:is(:hover, :focus-visible) .line { 
    background-color:var(--bg-white); 
  }
  
  .nav-open-btn:is(:hover, :focus-visible) .line-1 { 
    transform: scaleX(0.7); 
  }
  
  .nav-open-btn::before { 
    background-color: var(--bg-white); 
  }
  
  .nav-open-btn::after { 
    background-color: var(--bg-night); 
  }
  
  .navbar {
    position: fixed;
    background-color: var(--bg-night);
    top: 0;
    left: -300px;
    width: 100%;
    max-width: 300px;
    height: 100vh;
    padding: 25px 20px;
    visibility: hidden;
    transition: 250ms var(--cubic-in);
    z-index: 3;
  }
  
  .navbar.active {
    transform: translateX(300px);
    visibility: visible;
    transition: 500ms var(--cubic-out);
  }
  
  .navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block-end: 20px;
    border-block-end: 1px solid var(--border-smoky-black);
    margin-block-end: 10px;
  }
  
  .nav-close-btn {
    width: 30px;
    height: 30px;
    background-color: var(--bg-smoky-black);
    color: var(--bg-white);
    font-size: 2rem;
    display: grid;
    place-items: center;
  }
  
  .nav-close-btn ion-icon { 
    --ionicon-stroke-width: 50px; 
  }


  .navbar-link {
    font-family: "Work sans", sans-serif !important; 
    color:var(--bg-white);
    padding: 8px;
    margin-block-start: 4px;
    text-shadow: 1px 1px 2px #04080f;
  }
  
  .navbar-link:is(:hover, :focus-visible) { 
    color: var(--bg-white); 
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-night);
    opacity: 0;
    pointer-events: none;
    z-index: 2;
    transition: var(--transition-1);
  }

  .overlay.active {
    opacity: 0.5;
    pointer-events: all;
  }

  /*------------------ HERO ----------------*/
  
.hero {
  position: relative;
  padding-block-start: 120px 
}
  
#home.container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#container-home {
  display: flex;
  flex-direction: row;
  align-items: center; 
}
  
  .banner-outline {
    position: relative;
    max-width: max-content;
    margin-inline: auto;
  }
  
 /*  .banner-outline::after {
    top: 20px;
    right: 0;
    width: 100%;
    height: 100%;
    outline: 1px solid var(--border-eerie-black);
    border-radius: var(--radius-pill);
  } */
  
  .hero-banner {
    position: relative;
    border-radius: 250px; 
  }
  
  .hero-banner::after {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: var(--gradient-1);
    opacity: 0.7;
    pointer-events: none;
  }
  
  .banner-outline .span {
    position: absolute;
    bottom:  40px;
    left: 50%;
    transform: translateX(-50%);
   /*  font-size: var(--fontSize-3); */
    min-width: max-content;
    z-index: 1;
  }
  
  .hero .btn {
    margin-block: 20px;
    margin-inline: auto;
    background-color: var(--bg-plum);
  }
  
  .hero .shape {
    position: absolute;
    max-width: 100%;
    z-index: -1;
  }
  
  .hero .shape-1 {
    top: -60px;
    left: 50px;  
  }
  
  .hero .shape-2 {
    top: 180px;
    left: 0;
  }

  .links-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 16px 24px;
  }
  
/*------------------- ABOUT ME ------------------*/
  
  .tab-container { 
    border: 1px solid var(--border-eerie-black); 
  }
  
  .tab-btn {
    width: 100%;
    padding-block: 16px;
    border-block-end: 1px solid var(--border-eerie-black);
    transition: var(--transition-1);
  }
  
  .tab-btn:is(:hover, :focus-visible, .active) { 
    background: #D18FDF;
    color: var(--bg-night)
  }
  
  .tab-content {
    display: none;
    padding: 30px;
  }
  
  .tab-content.active {
    display: block;
    animation: fade 500ms linear forwards;
  }
  
  @keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .tab-content .grid-list {
    gap: 20px;
  }
  
  .tab-content .section-title { 
    margin-block-end: 10px; 
  }
  
  .tab-content .section-text,
  .about-item:not(:last-child) { 
    font-size: 2rem;
    margin-block-end: 10px; 
    text-align: justify;
    line-height: 1.5;

  }
  
  .about-item .span { 
    line-height: 1.4; 
  }

  .soft-skills-container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
  }

  .column {
    display: flex;
    flex-direction: column;
  }

  .soft-skills {
    font-size: 3rem !important;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

 .soft-skill {
    display: flex;
    align-items: center;
    font-size: 1.9rem !important;
    list-style: none;
    margin: 10px;
  }

  .soft-skill ion-icon {
    margin-right: 5px;
  }
  
  .skill-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 30px 12px;
  }
  
  .skill-wrapper .span {
    font-weight: var(--weight-medium);
  }

   .exhibition-card { 
    position: relative; 
  } 
  
  .exhibition-card .card-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: var(--bg-white);
    width: 40px;
    height: 40px;
    border-radius: var(--radius-circle);
    color: var(--bg-black);
    display: grid;
    place-items: center;
  }
  
  ul#skillsMain li {
    display: flex;
    flex-wrap: wrap;
  }
  
  ul#skillsMain li div {
    flex-basis: calc(100% / 10);
    box-sizing: border-box;
    padding: 10px;
  }

  .tech img {
    width: 100%;
    max-height: auto;
  }

  .tooltip {
    position: relative;
    padding: .5em;
  }

  .tooltip .tooltiptext {
    font-weight: 700;
    visibility: hidden; 
    background-color: var(--bg-white);
    color: var(--bg-night);
    text-align: center;
    border-radius: 3px;
   /*  padding: 5px 0; */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--bg-lime) transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  /*--------------------- CTA --------------------*/
  
  .cta { 
    border-block: 1px solid var(--bg-white); 
  }
  
  /* .cta .section-title::before {
    content: "";
    display: block;
    background-color: var(--bg-white);
    width: 60px;
    height: 30px;
    border-radius: 30px 30px 0 0;
    margin-inline: auto;
    margin-block-end: 15px;
  } */
  
  .cta .btn {
    margin-inline: auto;
    margin-block-start: 30px;
  }
  


  /*----------------- PROJECT ------------------*/
  
  .project-card .card-banner::before {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--bg-rich-black-fogra-29);
    background-image: var(--gradient-2);
    opacity: 0;
    transition: var(--transition-1);
  }
  
  .project-card .card-banner:is(:hover, :focus-within)::before { 
    opacity: 0.9; 
  }
  
  .project-card .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    min-width: max-content;
    opacity: 0;
    transition: var(--transition-2);
  }
  
  .project-card .card-banner:is(:hover, :focus-within) .btn {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  
  .project-card .card-content { 
    padding: 15px 20px 0; 

  }
  
  .project-card .card-subtitle {
    font-size: 1em;
    letter-spacing: 1.8px;
    margin-block-end: 10px;
    text-align: center;
  }
  
  .project-card .card-title {
    display: inline;
    background-image: linear-gradient(var(--bg-white), var(--bg-white));
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 0 1px;
    transition: var(--transition-1);
  }
  
  .project-card .card-title:is(:hover, :focus-visible) { 
    background-size: 100% 1px; 
  }

  .slider-list {
    display: flex;
/*  align-items: flex-start; */    
    gap: 20px;
    overflow: auto;
    scroll-snap-type: inline mandatory;
    padding-block-end: 5px;
  }
  
  .slider-list::-webkit-scrollbar { 
    display: none; 
  }
  
  .slider-item {
    border: 2px solid gray;
    border-radius: 5px;
    min-width: 100%;
    scroll-snap-align: start;
  }

 
  .profile-card .card-banner { 
    display: none; 
  }

  .profile-card .card-subtitle { 
    font-size: var(--fontSize-10); 
  }

  .buttons-techs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 7px;
  }

  .button-tech {
    background: #d18fdf;
    padding: 6px 12px;
    border-radius: 12px;
    font-weight: bold;
  }

  

  
  /*--------------------- CONTACT --------------------*/
  .contact .section-title {
    font-size: 2.7em;
    /* margin-block-end: 15px; */
  }

  .container-contact {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .item {
    font-family: "Work sans", sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    margin: 5px;
    color: var(--bg-white);
    text-shadow: 0px 0px 4px #000;
  }

  

 
  /*----------------- FOOTER ----------------------*/
  
  .footer { 
    border-block-start: 1px solid var(--border-eerie-black); 
  }
  
  .footer .container .copyright {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
    color: var(--bg-white);
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
   .copyright {
    flex-grow: 1;
    color: var(--bg-white);
    font-weight: bold;
  } 
  
   .back-top-btn .span { 
    display: none; 
  } 
  
  .back-top-btn {
    color: var(--bg-white);
    padding: 32px 16px;
    border-inline: 1px solid var(--border-eerie-black);
  }
  
  .cursor-dot, .cursor-outline { 
    display: none; 
  }


  /* --------------   media queries  -------------- */

  @media (max-width: 574px) {

    .container {
      max-width: 540px;
      width: 100%;
      margin: 12px;
    }

    #container-home {
      display: grid;
    }

    .title1 {
      font-size: 50px;
    }

    .hero .banner-outline { 
      max-width: 380px; 
    }

    .banner-outline .span {
      max-width: 350px;
      margin-left: 15px;
    }

    h1 {
      margin-left: 15px;
    }
  
    .hero .banner-outline::after { 
      right: -15px; 
    }
  
    .service .container { 
      max-width: unset; 
    }
  
    .service-list {
      display: flex;
      flex-wrap: wrap;
    }
  
    .service-item { 
      width: 50%; 
    }
  
    .service-item:nth-child(2n) {
      border-inline-start: 1px solid var(--border-eerie-black);
    }
  
    .service-card .card-title { 
      --fontSize-5: 2.4rem; 
    }
  
    .tab-btn-list {
      display: flex;
      flex-wrap: wrap;
    }
  
    .tab-btn-item {
      width: 50%;
      flex-grow: 1;
    }
  
    .tab-btn-item:nth-child(2n) {
      border-inline-start: 1px solid var(--border-eerie-black);
    }
  
    .tab-content { 
      padding: 40px; 
    }
  
    .about-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  
    .profile-card .card-banner {
      display: block;
      border-radius: var(--radius-circle);
    }

    .container-contact {
      display: grid;
      grid-template-columns: repeat(1, 4fr);
      margin: 12px
    }
  }

  /* ------------------------------------------------ */
  
  @media (min-width: 575px) {

    :root {
      --fontSize-1: 5.6rem;
      --fontSize-5: 3.2rem;  
    }
  
    .container {
      max-width: 550px;
      width: 100%;
      margin-inline: auto;
    }

    #container-home {
      display: grid;
    }
  
    .hero .banner-outline { 
      max-width: 410px; 
    }
  
    .hero .banner-outline::after { 
      right: -15px; 
    }
  
    .service .container { 
      max-width: unset; 
    }
  
    .service-list {
      display: flex;
      flex-wrap: wrap;
    }
  
    .service-item { 
      width: 50%; 
    }
  
    .service-item:nth-child(2n) {
      border-inline-start: 1px solid var(--border-eerie-black);
    }
  
    .service-card .card-title { 
      --fontSize-5: 2.4rem; 
    }
  
    .tab-btn-list {
      display: flex;
      flex-wrap: wrap;
    }
  
    .tab-btn-item {
      width: 50%;
      flex-grow: 1;
    }
  
    .tab-btn-item:nth-child(2n) {
      border-inline-start: 1px solid var(--border-eerie-black);
    }
  
    .tab-content { 
      padding: 40px; 
    }
  
    .about-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  
    .profile-card .card-banner {
      display: block;
      border-radius: var(--radius-circle);
    }

    .container-contact {
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      margin: 12px
    }
  }
  
  /*------------------------------------------*/
  
  @media (min-width: 768px) {
  
    :root {
      --fontSize-1: 6.6rem;
      --section-spacing: 100px;
    }
  
    .container { 
      max-width: 720px; 
    }
  
    #home.container {
      align-items: center;
      gap: 40px;
    }
  
    .service-item:not(:last-child) {
      border-inline-end: 1px solid var(--border-eerie-black);
    }
  
    .tab-btn-item { 
      width: 20%; 
    }
  
    .tab-btn-item:not(:first-child) {
      border-inline-start: 1px solid var(--border-eerie-black);
    }

    .cta { 
      padding-block: 40px; 
    }
  
    .cta .section-title {
      display: flex;
      align-items: center;
    }

    .slider-item { 
      min-width: calc(50% - 15px); 
    }

    .cursor-dot,
    .cursor-outline {
      display: block;
      position: fixed;
      top: -60px;
      left: -60px;
      transform: translate(-50%, -50%);
      border-radius: var(--radius-circle);
      z-index: 10;
      transition-property: opacity, transform;
      transition-duration: 300ms;
      transition-timing-function: ease-in-out;
      pointer-events: none;
    }
  
    .cursor-dot {
      width: 60px;
      height: 60px;
      background-color: var(--bg-white);
      transform: translate(-50%, -50%) scale(0.1);
    }
  
    .cursor-dot.hovered {
      transform: translate(-50%, -50%) scale(1);
      mix-blend-mode: exclusion;
    }
  
    .cursor-outline {
      width: 30px;
      height: 30px;
      border: 2px solid var(--bg-white);
      opacity: 0.5;
      transition-duration: 100ms;
    }
  
    .cursor-outline.hovered { 
      opacity: 0; 
    }

    .container-contact {
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      margin: 15px
    }
  }
  
  
  /*---------------------------------------------------*/
  
  @media (min-width: 992px) {
  
    :root {
      --fontSize-2: 7rem;
    }
  
    .container {
       max-width: 960px; 
    }

    .header .container {
      margin-inline: 0;
      min-width: 100%;
    }
  
    .nav-open-btn,
    .navbar-top { 
      display: none; 
    }
  
    .navbar {
      all: unset;
      display: block;
    }
  
    .navbar-list {
      display: flex;
      gap: 16px;
    }
  
    .header .btn { 
      display: flex; 
    }
  
    #home.container { 
      grid-template-columns: 1fr 1fr; 
    }
  
    .hero .banner-outline { 
      max-width: 366px; 
    }
  
    .hero .wrapper {
      display: flex;
      align-items: center;
      gap: 30px;
    }
  
    .hero .btn { 
      flex-shrink: 0; }
  
    .service { 
      border-block-end: 1px solid var(--border-eerie-black); 
    }
  
    .service-list {
      gap: 158px;
      flex-wrap: nowrap;
    }
  
    .service .service-item {
      border-inline: 1px solid var(--border-eerie-black);
      border-block-end: none;
    }
  
    .cta .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .cta .section-title {
      text-align: left;
      gap: 30px;
    }
  
    .cta .btn {
      flex-shrink: 0;
      margin: 0;
    }
    .slider-item { 
      min-width: calc(33.33% - 20px); 
    }
  
    .container-contact {
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      margin: 12px
    }
  
  }
  
 /*---------------------------------------*/
  
  @media (min-width: 1200px) {
  
    :root {
  
      --fontSize-2: 9rem;
      --fontSize-4: 4rem;
      --fontSize-5: 4rem;
      --fontSize-6: 2rem;
  
    }
  
    .container, .service .container { 
      max-width: 1200px; 
    }
  
    .h1 { 
      line-height: 1.1; 
    }
  
    .header { 
      padding-block: 40px; 
    }
  
    .header .container { 
      padding-inline: 60px; 
    }
  
    .navbar-list { 
      gap: 50px; 
    }
  
 
    .hero { 
      padding-block-start: 160px; 
    }
  
    .hero .banner-outline { 
      max-width: 410px; 
    }
  
    .hero-text { 
      max-width: 30ch; 
    }

    #container-home {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
 
    .tab-content { 
      padding: 60px; 
    }
  
    .tab-content .grid-list { 
      gap: 50px; 
    }
  
  }
  
  /*--------------------------------------------------*/

  @media (min-width: 1400px) {
  
    .container, .service .container { 
      max-width: 1320px; 
    }

    .header { 
      padding-inline: 90px; 
    }
  
    #home.container { 
      grid-template-columns: 1fr 0.85fr; 
    }
  
  }


  
